<% provide(:title, "Home") %>
<h1>Este é minha primeira página rails</h1>
<p>
  Aqui é a página inicial da minha primeira aplicação rails
  com um conhecimento um pouco maior. Feito através do <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>